body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a {
  text-decoration: none;
  color: black;
}

th, td {
  border: 2px solid black;
}

nav {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 2vmin;
  transform: rotate(45deg);
}