* {
  background-color: bisque;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #051428;
}

a {
  text-decoration: none;
  border: 2px solid #051428;
  border-radius: 6px;
  padding: 5px;
  color: white;
  background-color: #051428;
}

th, td, label, input, select {
  border: 2px solid bisque;
  border-radius: 6px;
  padding: 5px;
  color: white;
  background-color: #051428;
}

div {
  border: 2px solid bisque;
  border-radius: 6px;
  padding: 5px;
  color: white;
  background-color: #051428;
  width: 15%;
}


ul > *{
  padding: 5px;
  color: white;
  background-color: #051428;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav > a, nav > img {
  margin: 4px;
  text-align: center;
}

img {
  width: 2.5vmin;
  transform: rotate(45deg);
}

