<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label>
        <select name="airline">
            <option value="American">American</option>
            <option value="Alaskan">Alaskan</option>
            <option value="Delta">Delta</option>
            <option value="Southwest">Southwest</option>
            <option value="Unites">United</option>
        </select>
    <label>Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="SEA">SEA</option>
        </select>
    </label>
    <br>
    <label>Flight Number:(between 10-9999)</label>
    <input type="text" name="flightNo">
    <br>
    <label>Departs:</label>
    <input type="datetime-local">
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
